@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin-bottom: 0;
}
img {
	border: none;
}
body {
	font-size: 14px;
	font-family: "微软雅黑";
	background: #f1f1f1;
	padding: 0 20px;
	min-width: 830px;
	overflow: hidden;
	overflow: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.total-project {
	width: 100%;
	padding-top: 7px;
}
.work-title {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d3d3d3;
}
.work-title span, a {
	background: url(../images/icon.png) left no-repeat;
}
.work-title .title-left {
	color: #2781bc;
	font-size: 16px;
	background-position: 0 -685px;
	margin-left: 11px;
	padding-left: 32px;
}
.workbench .title-right {
	color: #d3d3d3;
	background-position: 0 -735px;
	/*margin-right: 28px;*/
	padding-left: 30px;
	position: absolute;
	top: 9px;
	right: 20px;
	height: 22px;
	line-height: 22px;
	outline: none;
}
.work-list {
	padding-top: 26px;
	padding-bottom: 53px;
}
.work-list dl {
	float: left;
	width: 64px;
	text-align: center;
	margin: 0 27px;
	position: relative;
}
.work-list dl dd {
	margin-top: 13px;
	color: #666666;
}
.work-list dl dd.add-word {
	color: #d9d9d9;
}
.work-list dl dd.sort-close {
	position: absolute;
	top: -10px;
	right: -12px;
	cursor: pointer;
	margin-top: 0;
	display: none;
}
.work-list dl dd.sort-close img {
	width: 22px;
	height: 22px;
	overflow: hidden;
	display: block;
}
.work-list dl dt img {
	width: 64px;
	height: 64px;
	overflow: hidden;
	display: block;
}
.add-function {
	width: 60%;
	float: left;
	margin-top: 7px;
	margin-bottom: 33px;
}
.add-function img {
	width: 100%;
	height: 210px;
	overflow: hidden;
	display: block;
	cursor:pointer;
}
.modules {
	float: left; /*width:200px;  overflow:hidden;*/
	background: #fff;
	position: relative;
	margin: 5px;
	border: 1px solid #ccc;
}
.modules .grey-close {
	position: absolute;
	top: -8px;
	right: -8px;
	cursor: pointer;
	display: none;
	width: 22px;
	height: 22px;
	z-index: 111;
}
.modules:hover .grey-close {
	display: block;
}
.workbench {
	margin: 5px 0px;
	border: 1px solid #d3d3d3;
	background: #fff;
	box-shadow: 1px 1px 2px #d3d3d3;
	width: 100%;
}
/*modal-leftpic*/
.modal-leftpic {
	width: 60%;
	/*height: 360px;*/
	margin: 5px 5px 5px 0;
}
.modal-leftpic img {
	width: 100%;
	height: 300px;
	display: block;
}
.modules .modal-pic2 {
	height: 116px;
	overflow: hidden;
}
.modules .modal-pic3 {
	height: 128px;
	overflow: hidden;
}
.modules3 {
	width: 37%; /*margin:13px 0;*/
}
.modules3 img {
	width: 100%;
}
@media screen and (max-width:1105px) {
.work-list dl {
	margin: 0 22px;
}
}
@media screen and (max-width:1024px) {
.work-list dl {
	margin: 0 14px;
}
body {
	padding: 0 10px;
}
}

/*拖动样式*/
.dad-noSelect,.dad-noSelect *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*cursor: -webkit-moving !important;
    cursor: -moz-moving !important;*/
	cursor:move;
}

.dad-container{
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dad-container::after{
    content: '';
    clear: both !important;
    display: block;
}
.dad-active .dad-draggable-area{
    cursor:move;
	cursor: -webkit-move;
    cursor: -moz-move;
}
.dads-children-clone{
    opacity: 0.8;
    z-index: 9999;
    pointer-events: none;
}
.dads-children-placeholder{
    overflow: hidden;
    position: absolute !important;
    box-sizing: border-box;
    /*border:4px dashed #639BF6;*/
    margin:5px;
    text-align: center;
    color: #639BF6;
    font-weight: bold;
}
/*application*/
.application{ width:789px; overflow:hidden; background:#fff; position:fixed; top:47%; left:50%; border:1px solid #cccccc; z-index:999; padding-bottom:6px; margin-left:-394px; display:none;margin-top:-120px; height: auto;}
.application .app-title{ background:url(../images/grandice-bg.png) repeat-x; height:40px; line-height:40px; overflow:hidden; padding-left:23px; border-bottom:1px solid #cccccc; color:#333333;}
.app-list{ margin-left:10px; margin-right:10px;}
.app-list ul{ border-bottom:1px dashed #cccccc;padding-left:27px; padding-bottom:10px; margin-top:18px;}
.do-list{ float:left; border:2px solid #fff; border-radius:5px; padding:9px 5px; width:223px; margin-right:7px;}
.do-list .do-word{ width:152px; line-height:24px; margin-left:10px;}
.do-list .do-word h2{ color:#333333;}
.do-list p{ font-size:12px; color:#999999; line-height:24px;}
.do-list .app-btn{ color:#fff; border:none; cursor:pointer; background:#fa8562; border-radius:5px; width:52px; height:24px;  overflow:hidden; display:none;}
.do-list:hover {border:2px solid #e8e8e8;}
.do-list:hover .app-btn{ display:block;}
.app-title{ position:relative;}
.app-title .close-button{ position:absolute; top:13px; right:14px; cursor:pointer;}

.function{
	width:500px;background:#fff;border:1px solid #ccc;height:auto;color:#636363;position: absolute;top:50px;
	left:350px;z-index:999;display: none;font-size:12px;
}
.function .fun{
	width:475px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	padding-left: 25px;
	background: #f3f3f3;
	font-size: 14px;
	position: relative;
}
.function .fun img{
	position: absolute;top:15px;left:460px;cursor: pointer;
}
.function .left1{
	width:249px;background:#f6f6f6;float:left;
}
.function .left1 h2,.function .right1 h2{
	padding:10px;padding-left:20px;font-size:14px;color:#333333;
}
.function .right1 h2{
	border-bottom:1px solid #ccc;font-size:12px;
}
.wcontent{
	width:500px;min-height: 100px;
}
.function .right1{
	width:249px;float:left;
}
.function .left1 ul li{
	padding:7px 0px;cursor: pointer;color:#666;
}
.function .left1 span,.function .left1 b{
	margin-left:10px;
}
.function .left1 b{
	font-weight:normal;
}
.function .left1 ul li ul{
	margin-left:50px;
}
.function .left1 ul li span{
	display: block;
	float: left;
	width:0;
	height:0; 
border:6px solid #0066cc; 
border-color:transparent transparent transparent #6e6e6e;
margin-left: 20px;
transition: all 0.1s;
 }
 .function .left1 ul li span.click{
	/*display: block;*/
	/*float: left;
	width:0;
	height:0; 
border:10px solid #0066cc; 
border-color:#666 transparent transparent transparent ;
margin-left: 15px;*/
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
transition: all 0.1s;
 }
 .function .left1 ul li>input{
 	float: left;
 }
.function .right1 ul li{
	padding:7px 17px;
	border-bottom:1px solid #ccc;
	color:#666;
	cursor: pointer;
	background:url(../images/pic13.png) 220px 5px no-repeat;
	/*position: relative;*/
}
/*.function .right1 ul li img{
	position: absolute;top:0;left:0;
}*/
.wcontent .left1 ul li ul{
	display: none;
}
.left1>ul>li.show>ul{
	display: block;
}
.wcontent .left1 ul li ul li b{
	margin-left:0;
}
/*筛选框*/
.chk_1{
    display: none;
}
/*******STYLE 1*******/
.chk_1 + label {
	background-color:#3fb838;
	border: 1px solid #3fb838;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	width:14px;
	height:14px;
	display: inline-block;
	position: relative;
	margin-right:5px;
	cursor:pointer;
	border-radius: 50%;
}
.chk_1 + label:active {
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);*/
}

.chk_1:checked + label {
	/*background-color: #ECF2F7;*/
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.chk_1:checked + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	color: #758794;
	width: 100%;
	text-align: center;
	background: transparent;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
	background:url(../images/dui.png) 2px 1px no-repeat;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
.foter{
	position: absolute;bottom:10px ;left:300px;
}
.foter input{
	margin-left:15px;padding: 0 10px;
}
.foter input:first-child{
	background:#4aa0d9;color:#fff;border:none;cursor: pointer;
}
.foter input:last-child{
	background:#abbac3;color:#fff;border:none;cursor: pointer;
}