@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
img{ border:none;}
body{font-family:MicrosoftYaHei;}
.left{ float:left;}
.right{ float:right;}
a{ text-decoration:none; outline:none;}
/*title*/
.title{background:#5f6770;height:80px;}
.wrapper{ width:1200px; margin:0 auto;}
.title .logo{ background:url(../images/logo.png) no-repeat; width:246px; height:41px; overflow:hidden; float:left; margin-left:50px; display:inline; margin-top:20px;}

/*login-box*/
.login-box{ width:355px; margin:0px auto 0px;}
.login-logo{ background:url(../images/login-logo.png) no-repeat; width:76px; height:36px; overflow:hidden; margin:0px auto 0; display:block;}
.login-box .text-box{/*width:337px;*/ border-top:none; border-left:none; border-right:none; font-size:14px;color:#bdbdbd; /*margin-top:30px;*/ outline:none; margin-left:30px; border:none; padding-top:5px;}
.remeber{ height:14px; line-height:14px; margin-top:12px;}
.remeber span{ float:right;font-size:12px;color:#ffa900;}
.remeber .reme-word{ margin-left:10px; display:inline;}
.login-box span{ cursor:pointer;}
.login-box .remeber .empty-radio{ background:url(../images/radio.png) 0 0  no-repeat; width:14px; height:14px; overflow:hidden;}
.login-box .remeber .reme-radio{ background:url(../images/radio.png) 0 -22px no-repeat; width:14px; height:14px; overflow:hidden;}

.login-box .login-btn{font-size:16px;color:#ffffff; background:#f06717; border:none; cursor:pointer; text-align:center; margin-top:22px; width:100%; padding:10px 0; border-radius:33px; outline:none;box-shadow:0px 6px 4px 0px rgba(240,102,22,0.30);}
.infor{ padding:0 15px; margin:15px 0 11px;}
.infor a{ font-size:12px;color:#ffa900;}
.infor .forget{ color:#bdbdbd;}


.footer{ text-align:center; font-size:14.5px;color:#C3C3C3; padding-top:32px; padding-bottom:17px; background:#5f6770-;}


.login-box .tip{
	font-size:12px;color:#7d7d7d; 
	background:url(../images/tip.png) 5px 14px no-repeat; height:45px; 
	line-height:45px; overflow:hidden; text-indent:27px; 
	margin-left:54px; 
	display:none;
	float:left;}

@media screen and (min-width:1440px){
	.wrapper{ width:1440px; margin:0 auto;}
}

.login-box .user-box{ width:343px;border-bottom:1px solid #bfbfbf; margin-top:25px; padding-left:12px;padding-bottom:13px;}
.login-box .user-box .user-icon{ background:url(../images/user-pic.png) left no-repeat; width:21px; height:23px; float:left;}
.login-box .user-box .pw-icon{background:url(../images/pw-pic.png) left no-repeat; width:20px; height:25px; float:left;}








