	border:1px solid #d5d5d5;
@charset "utf-8";

/*CSS Document*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	outline: none;
}

ul {
	list-style: none;
	margin-bottom: 0;
}

img {
	border: none;
}
input[type="text"],select{
	border:1px solid #d5d5d5;
}
.table1 td input[type="text"], .table1 td select{
	border:1px solid #d5d5d5;
}
body {
	font-size: 12px;
	font-family: "微软雅黑";
	min-width: 1000px;
	overflow: hidden;
	background: #f1f1f1;
	color: #666;
	height: 1000px;
}

.left {
	float: left;
}

.right {
	float: right;
	/*float:left;*/
}
.search{
	float:right;
}
.search ul li:first-child{
	margin-top:10px;
}
.search input[type="button"]{
	margin-left:10px;
}
.search input[type="text"]{
	margin-top:5px;border:1px solid #ccc;height:21px; overflow:hidden;
}

/*.role-list{ background:#fff;}*/

.total-role {}


/*role-definite*/

.total-role .role-definite {
	min-width: 22%;
	border: 1px solid #cccccc;
	float: left;
	margin-top: 18px;
	margin-left: 10px;
	background:#fff;
}

.total-role .role-list {
	width: 74%;
	/*float:right;*/
	float: left;
	margin-left: 10px;
	margin-top: 18px;
}

.total-role .role-definite .role-word {
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	padding-left: 18px;
	color: #333333;
	border-bottom: 1px solid #cccccc;
	background: #f5f5f5;
}

.opera {
	background: #fff;
}

.opera-button {
	padding-left: 22px;
	padding-top: 5px;
	padding-bottom: 4px;
	border-bottom: 1px solid #cccccc;
}

.opera-button a {
	padding: 5px 10px 5px 25px;
	color: #fff;
	float: left;
	margin-right: 18px;
}

.opera .opera-button .add-bg {
	background: url(../images/operate-icon.png) 8px 5px no-repeat;
	background-color: #84b357;
}

.opera .opera-button .edit-bg {
	background: url(../images/operate-icon.png) 8px -17px no-repeat;
	background-color: #2789ca;
}

.opera .opera-button .del-bg {
	background: url(../images/operate-icon.png) 8px -39px no-repeat;
	background-color: #d15b47;
}



/*底部*/

.footer {
	float: right;
	margin-top: 15px;
	margin-right: 20px
}
.footer span,
.footer input,
.footer select,
.footer b {
	float: left;
	margin-left: 10px;
	cursor: pointer;
}
.footer select{
	margin-top:1px;padding:0px 3px;
}
.footer input[type="button"]{
	font-size:12px;
	background:#f9f9f9;
	border:1px solid #ccc;
	padding:1px 3px;
}
.footer span {
	text-align: center;
	padding:3px 5px;
	background:#fff;
	margin-top:2px;
}
.footer b {
	margin-top: 3px;
}

.footer input[type="button"].button {
	height: auto;
	/*padding: 0px 3px;*/
	background-color:#438ee4;
	color:#fff;
	border:1px solid #ccc;
}
.footer .span{
	background:#438ee4;color:#fff;
}
/*table公用样式*/

table tr th,
table tr td {
	height: 25px;
	line-height: 25px;
}

.table {
	width: 100%;
	background: #fff;
	border: 1px solid #cccccc;
}

.table tr:nth-child(odd) {
	background: #fbfbfb;
}
.table tr th {
	/*padding:9px;*/
	padding-left: 13px;
	background: #f3f3f3;
	border-bottom: 1px solid #cccccc;
	height:35px;
}

.table tr td {
	border-bottom: 1px solid #cccccc;
	height: 30px;
	padding-left: 21px;
	line-height: 30px;
}

.table tr td img {
	margin-right: 5px;
}

.table tr td:nth-child(2) {
	color: #4aa0d9;
}
.table tr:hover{
	background:#f3f9f0;cursor:pointer;
}

/*个人信息设置公用*/


/**/
.grxxsz {
	width: 755px;
	min-height: 435px;
	background: #fff;
	border: 1px solid #d5d5d5;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -245px;
	margin-left: -377px;
	display: none;
	z-index: 99;
}

.grxxsz h1 {
	width: 730px;
	height: 40px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	padding-left: 25px;
	background: url(../images/pic13.png) 720px 15px no-repeat #f0f0f0;
	font-size: 14px;
}

.grxxsz ul {
	width: 756px;
	height: 38px;
	border-bottom: 1px solid #ccc;
}

.grxxsz ul li {
	width: 100px;
	height: 31px;
	float: left;
	background: #f0f0f0;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
	margin-top: 6px;
	border-bottom: 0;
	cursor: pointer;
}

.grxxsz ul li:first-child {
	margin-right: 5px;
	margin-left: 30px;
}

.con {
	position: absolute;
	top: 80px;
	left: 0;
	background: #fff;
	width: 754px;
}

.tab {
	width: 320px;
	height: 200px;
	margin: 20px 0 0 30px;
	float: left;
}

.tab input[type="text"] {
	width: 200px;
	border: 1px solid #d5d5d5;
	margin-left: 14px;
	height: 25px;
}

.tab input[type="radio"] {
	margin-left: 14px;
	margin-bottom: 5px;
}

.tab th {
	font-weight: normal;
}

.int {
	margin-left: 45px;
	height: 25px;
}

.int .dz {
	width: 550px;
	border: 1px solid #d5d5d5;
	height: 25px;
	margin-left: 13px;
}

form div .ind {
	padding-bottom: 30px;
	margin-left: 55px;
}

form div .ind .required {
	width: 225px;
	border: 1px solid #d5d5d5;
	height: 25px;
	margin-left: 15px;
	background: #fff;
}

/*.content {
	border-bottom: 1px solid #ccc;
}*/

.grxxsz input[type="button"] {
	width: 65px;
	height: 27px;
	background: #33A3CE;
	margin-left: 530px;
	color: #fff;
	margin-top: 12px;
	border: none;
	cursor: pointer;
	margin-bottom: 12px;
}

.grxxsz input[type="reset"] {
	width: 65px;
	height: 27px;
	background: #abbac3;
	color: #fff;
	margin-top: 12px;
	border: none;
	cursor: pointer;
	margin-bottom: 12px;
}

.grxxsz ul li.current {
	border-top: 2px solid #33a3ce;
	border-bottom-color: #fff;
	height: 31px;
	background: #fff;
	font-weight: bold;
	color: #65bada;
}

.td span {
	margin-left: 15px;
	margin-right: 30px;
}

.tab tr {
	height: 10px;
}

.tab input[type="text"] .eamil {
	padding: 5px;
}


/*弹窗*/
/*新增角色弹窗*/
.add-word {
	width: 350px;
	background: #f9f9f9;
	border: 1px solid #cccccc;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -175px;
	display: none;
	z-index: 99;
}
.add-word h1 {
	width: 325px;
	height: 40px;
	background: url(../images/pic13.png) 320px 15px no-repeat #f2f2f2;
	line-height: 40px;
	border-bottom: 1px solid #cccccc;
	font-size: 14px;
	padding-left: 25px;
	color: #4a4a4a;
}
.intt input,
.required {
	width: 220px;
	height: 25px;
	border: 1px solid #d5d5d5;
	margin-left: 15px;
}
.required {
	margin-left: 15px;
	margin-top: 20px;
}
.wrapx span {
	color: #f00;
	margin-right: 5px;
}
.inf {
	padding-top: 10px;
}
.intt {
	margin-left: 20px;
	margin-bottom: 15px;
}
.lable {
	margin-left: 20px;
}
.lables {
	color: #333;
}
.banner {
	margin-left: 90px;
	margin-top: 5px;
	padding-bottom: 10px;
}
.banner img,
.banner p {
	float: left;
}
.banner p {
	color: #ce721b;
}
.ins {
	margin-bottom: 15px;
}
.bor {
	border-bottom: 1px solid #d5d5d5;
	background: #fff;
}
.submit {
	width: 65px;
	height: 25px;
	background: #4aa0d9;
	line-height: 25px;
	text-align: center;
	margin-left: 185px;
	margin-top: 10px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.reset {
	width: 65px;
	height: 25px;
	background: #abbac3;
	line-height: 25px;
	text-align: center;
	margin-top: 10px;
	margin-left: 5px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.shadow-bg {
	background: rgba(51, 51, 51, .5);
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 9;
	top: 0;
	left: 0;
}
.close-button {
	float: right;
	width: 15px;
	height: 15px;
	margin-top: 13px;
	margin-right: 13px;
	overflow: hidden;
	cursor: pointer;
}
.intt .textarea {
	width: 220px;
	height: 25px;
	overflow: hidden;
	border: 1px solid #d5d5d5;
	margin-left: 23px;
}
.mt35 {
	margin-top: 35px;
}
/*删除弹窗*/
.mian {
	width: 270px;
	height: 210px;
	background: #fff;
	border: 1px solid #ccc;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -135px;
	margin-top: -105px;
	display: none;
	z-index: 99;
}
h1 {
	width: 245px;
	height: 40px;
	background: url(../images/pic13.png) 240px 14px no-repeat #f3f3f3;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	padding-left: 25px;
	;
}
.delete {
	margin-top: 45px;
	margin: 40px auto 0;
	width: 150px;
	height: 40px;
}
.delete img,
.delete p {
	float: left;
}
.delete p {
	margin-top: 7px;
	margin-left: 14px;
	color: #666666;
}
.submit1 {
	width: 65px;
	height: 25px;
	background: #ff9900;
	line-height: 25px;
	text-align: center;
	margin-left: 60px;
	margin-top: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.reset1 {
	width: 65px;
	height: 25px;
	background: #abbac3;
	line-height: 25px;
	text-align: center;
	margin-top: 20px;
	margin-left: 5px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.mian-title {
	font-size: 14px;
}
/*.button {
	background: #438ee4;
	color: #fff;
	height: 25px;
}*/
/*table1*/
.table1 {
	margin: 0 auto;
}
.table1 td input[type="text"],
.table1 td select {
	width: 173px;
	height: 25px;
	margin-top: 10px;
	border:none;
	border:1px solid #d5d5d5;
}
.table1 td select{
	height: 28px;
}
.table1 td input[type="text"]:first-child {
	margin-right: 15px;
}
.table1 td input[type="checkbox"] {
	margin-top: 10px;
}
input[type="button"]{
	cursor:pointer;font-size:12px;
}

/** Easy Tree style */
.easy-tree {
    min-height: 20px;
    border: none;
    border-top: none;
    padding-bottom: 15px;
	margin-left:36px;
}

.easy-tree > ul {
    padding-left: 15px;
}

.easy-tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative
}

.easy-tree li::before, .easy-tree li::after {
    content: '';
    left: -15px;
    position: absolute;
    right: auto
}

.easy-tree li::before {
    border-left: 1px dotted #3fb3db;
    bottom: 50px;
    height: 100%;
    top: -3px;
    width: 1px
}

.easy-tree li::after {
    border-top: 1px dotted #3fb3db;
    height: 20px;
    top: 22px;
    width: 18px;
}

.easy-tree li > span {
    border: 1px solid #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    text-decoration: none
}

.easy-tree li.parent_li > span {
    cursor: pointer
}



.easy-tree > ul > li::before, .easy-tree > ul > li::after {
    border: 0
}

.easy-tree li:last-child::before {
    height: 26px;
}

.easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ul li span {
    background: #ff6c60;
    color: #fff;
}

.easy-tree li.parent_li > span:hover + ul li.li_selected span {
    background: #e5e2e1;
    color: #e56155;
}

.easy-tree li > span > a {
    color: #fff;
    text-decoration: none;
}

.easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open {
    margin-right: 5px;
}

.easy-tree li.li_selected > span, .easy-tree li.li_selected > span > a {
    background: #e5e2e1;
    color: #e56155;
}

.easy-tree li.li_selected > span:hover, .easy-tree li.li_selected > span:hover > a {
    background: #fafafa;
    color: #ff6c60;
}

.easy-tree .easy-tree-toolbar {
    background-color: #fff;
}

.easy-tree .easy-tree-toolbar > div {
    display: inline-block;
}

.easy-tree .easy-tree-toolbar > div > button {
    border-radius: 0;
    margin: 20px 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group {
    top: -15px;
    margin-left: 5px;
    margin-right: 5px;
}

.easy-tree .easy-tree-toolbar .create .input-group input {
    border-radius: 0;
}

.easy-tree .easy-tree-toolbar .create .input-group button {
    border-radius: 0;
}
/**/


.tree-modal a{ font-size:12px; color:#666;}
.tree-box .tree-list li a{ font-size:12px; color:#666; height:20px; line-height:20px; padding-left:23px; background:url(../images/person.png) 5px 6px no-repeat; padding-right:5px; padding-top:5px; padding-bottom:5px;}
.tree-box .tree-list .parent_li>a{ background:url(../images/open-file.png) 0 6px no-repeat; margin-top:5px; color:#666;}
.tree-box .tree-list .open-file>a{ background:url(../images/close-file.png) 0 6px no-repeat; margin-top:5px; color:#666;}
.tree-box .tree-list>li>a{ margin-bottom:-4px;}
.tree-box .tree-list li ul{ margin-left:22px;}
.none{ display:none;}
.tree-box .tree-list li a.folder1{}
.tree-modal .system-role{ margin-left:40px; margin-bottom:-10px; position:relative; margin-top:20px;}
.tree-box .tree-list .home-icon{ background:url(../images/home.png) no-repeat; margin-top:5px;}
.tree-modal .system-role a{ background:url(../images/home.png) left no-repeat; padding-left:20px; margin-left:17px;}
.tree-modal .system-role img{ width:13px; height:16px; overflow:hidden; display:inline-block; position:absolute; top:-8px; left:5px;}
.total-role .tree-box .tree-list .parent_li > a.on{background-color:#478fca;color:#fff;}
.total-role .tree-box .tree-list .parent_li > a.close-file{background:url(../images/close-file.png) 6px 4px no-repeat;column-rule: #666;}
.tree-box .tree-list .parent_li > a.active{ background:url(../images/white-open-file.png) 6px 6px no-repeat #478fca; color:#666;}
.tree-box .tree-list .parent_li > a.active1{ background:url(../images/white-close-file.png) 6px 6px no-repeat #478fca; }
.sort-a li a.se{ background:url(../images/white-person.png) 5px 6px no-repeat #478FCA; margin-top:5px; color:#fff;}

/*弹窗*/
.answer,.fault{
	position: absolute;top:10px;left:500px;display: none;
}
.answer li{
	height:25px;border-radius:5px;background:#00cc00;line-height: 25px;color:#fff;
	
}
.answer li img,.fault li img{
	padding-right:5px;padding-left:5px;
}
.answer li span,.fault li span{
	padding-right:5px;
}
.fault li{
	width:150px;height:25px;border-radius:5px;background:#ff6600;line-height: 25px;color:#fff;text-align: center;
}
