.find-opera{ margin-bottom:16px;}
/*table-diction*/
.table-diction{ width:100%; background:#fff; border:1px solid #cccccc;}
.table-diction tr td{ border-left:1px solid #e0e0e0;border-top:1px solid #e0e0e0; height:38px; line-height:38px; overflow:hidden; vertical-align:middle; padding-left:12px;}
.table-diction tr th{ border-top:1px solid #e0e0e0;}
.table-diction tr th{ height:40px; line-height:40px; overflow:hidden; color:#333333; font-weight:bold; text-align:left; padding-left:18px; background:url(../images/grandice-bg.png) repeat-x;}


.table-diction tr td .data-item{ float:left;/* margin-right:11px;*/}
.table-diction tr td .data-item .empty-box{ background:url(../images/operate-icon.png) 0 -121px no-repeat; float:left; width:16px; height:16px; overflow:hidden; margin-top:12px;margin-right:3px; cursor:pointer;}
.table-diction tr td .data-item .check-bg{ background:url(../images/operate-icon.png) 0 -85px no-repeat; float:left; width:16px; height:16px; overflow:hidden; margin-top:12px;margin-right:3px; cursor:pointer;}

.table-diction tr td .data-item .check-word{ float:left; margin-right:5px; display:inline;}
.mr10{ margin-right:10px;}

/*footer*/

.table-diction .table-grey{ background:#f7f7f7;}

/***********弹框*/
.add-word-role{ height:222px;margin-top:-111px;}

/*筛选框*/
.chk_1{
    display: none;
}
/*******STYLE 1*******/
.chk_1 + label {
	background-color:#fafafa;
	border: 1px solid #c8c8c8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	width:14px;
	height:14px;
	display: inline-block;
	position: relative;
	margin-right:5px;
	cursor:pointer;
}
.chk_1 + label:active {
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);*/
}

.chk_1:checked + label {
	/*background-color: #ECF2F7;*/
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
	color: #243441;
}

.chk_1:checked + label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 2px;
	color: #758794;
	width: 100%;
	text-align: center;
	background: transparent;
	font-size: 1.4em;
	padding: 1px 0 0 0;
	vertical-align: text-top;
	background:url(../images/choose.png) no-repeat;
	width:11px;
	height:10px;
}
.data-item .check-box{ float:left; margin-top:12px;}