
/*.table{
	width:100%;background:#fff;border:1px solid #cccccc;
}*/
.search ul li,.find-opera input{
	float:left;
}
.find-opera input[type="button"]{
	margin-bottom:10px;margin-top:5px;background:#fff;border:1px solid #ccc;height:25px;padding:5px 10px;line-height: 10px;cursor: pointer;
}
.find-opera input[type="button"]:first-child{
background:url(../images/pic18.png) 2px 5px no-repeat #fff;padding-left:16px;height:25px;
}
.search ul li input[type="button"].w_sea{
	background:url(../images/798604245305608594.png) 2px 5px no-repeat #fff;
}
.find-opera input[type="button"]:nth-child(2){
	background:url(../images/pic19.png) 2px 5px no-repeat #fff;padding-left:13px;height:25px;margin-left:10px;
}
/*.search{
	float:right;
}
.search ul li:first-child{
	margin-top:10px;
}
.search input[type="button"]{
	margin-left:10px;
}
.search input[type="text"]{
	margin-top:5px;border:1px solid #ccc;height:23px; overflow:hidden;
}*/
/*.table tr:nth-child(odd){
	background:#bfbfb;
}
.table tr th{
	padding:10px;padding-left:15px;background:#f8f8f8;border-bottom:1px solid #cccccc;
}
.table tr td{
border-bottom:1px solid #cccccc;height:30px;
	padding-left:21px;line-height: 30px;
}
.table tr td img{
	margin-right:5px;
}
.table tr td:nth-child(2){
	color:#4aa0d9;
}*/
/*弹窗*/


.mr18{ margin-right:18px;}
/*弹窗*/
.add-group{ height:260px; margin-top:-130px;}
.table-cond tr th{
	background:#f3f3f3;
}

