<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrtimes.acm.persistence.AcmSysUserRuleMapper">

  <insert id="insert" parameterType="AcmSysUserRule">
  	INSERT INTO ACM_SYS_USER_RULE(
  		 ID,
  		 UID,
  		 MID,
         FUN_CODE,
         REMARK )
  	VALUES(
  		#{id},
  		#{uid},
  		#{mid},
  		#{funCode},
        #{remark}  )
  </insert> 
  
  <update id="update" parameterType="AcmSysUserRule">
  	UPDATE ACM_SYS_USER_RULE
  		SET
	  	    	UID = #{uid},
	  	    	MID = #{mid}
	  		<if test="funCode != null">
	  	    	,FUN_CODE = #{funCode}
	  		</if>
    			,UPDATE_TIME = #{updateTime}
	  		<if test="remark != null">
	  			,REMARK = #{remark}
	  		</if>	        
		WHERE
			ID=#{id}
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM ACM_SYS_USER_RULE WHERE ID=#{id}
  </delete>
  
  <select id="findById" parameterType="int" resultType="AcmSysUserRule">
  	SELECT
  		 c.ID as id,
  		 UID as uid,
  		 MID as mid,
  		 FUN_CODE as funCode,
         CREATE_TIME as createTime,
         UPDATE_TIME as updateTime,
         REMARK as remark
    FROM ACM_SYS_USER_RULE c 
    WHERE c.ID=#{id}
  </select>
  
  <select id="findByPage" parameterType="Map" resultType="AcmSysUserRule">
	  	SELECT
	  		 c.ID as id,
	  		 UID as uid,
	  		 MID as mid,
	  		 FUN_CODE as funCode,
	         CREATE_TIME as createTime,
	         UPDATE_TIME as updateTime,
	         REMARK as remark
	    FROM ACM_SYS_USER_RULE c 
	    	ORDER BY createTime DESC
	    	limit #{page.pageSize} offset #{page.offset}
  </select>
  
  <select id="findAll" resultType="AcmSysUserRule">
	  	SELECT
	  		 c.ID as id,
	  		 UID as uid,
	  		 MID as mid,
	  		 FUN_CODE as funCode,
	         CREATE_TIME as createTime,
	         UPDATE_TIME as updateTime,
	         REMARK as remark
	    FROM ACM_SYS_USER_RULE c 
	    	ORDER BY createTime
  </select>
  
  <select id="findByCount" resultType="int">
  	SELECT COUNT(*) FROM ACM_SYS_USER_RULE c
  </select>
  
</mapper>
