<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrtimes.acm.persistence.BusinessDictMapper">

  <insert id="insert" parameterType="BusinessDict">
  	INSERT INTO OCS_BUSINESS_DICT_INFO(
  		 BUSINESS_SHORT,
  		 BUSINESS_ALL,
  		 BUSINESS_DEPICT,
         BUSINESS_UNIT,
         OPERATOR,
         REMARK )
  	VALUES(
  		#{businessShort,jdbcType=VARCHAR},
  		 #{businessAll,jdbcType=VARCHAR},
  		 #{businessDepict,jdbcType=VARCHAR},
  		 #{businessUnit,jdbcType=DECIMAL},
  		 #{operator,jdbcType=VARCHAR},
         #{remark,jdbcType=VARCHAR}  )
  </insert> 
  
  <update id="update" parameterType="BusinessDict">
  	UPDATE OCS_BUSINESS_DICT_INFO
  		SET
            BUSINESS_SHORT = #{businessShort,jdbcType=VARCHAR},
    		BUSINESS_ALL = #{businessAll,jdbcType=VARCHAR},
    		<if test="businessDepict != null">
	  	    	BUSINESS_DEPICT = #{businessDepict,jdbcType=VARCHAR},
	  		</if>
    		<if test="businessUnit > 0">
	  	    	BUSINESS_UNIT = #{businessUnit,jdbcType=DECIMAL},
	  		</if>
    		UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
	  		<if test="remark != null">
	  			,REMARK = #{remark,jdbcType=VARCHAR}
	  		</if>	        
		WHERE
			ID=#{id}
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM OCS_BUSINESS_DICT_INFO WHERE ID=#{id}
  </delete>
  
  <select id="findById" parameterType="int" resultType="BusinessDict">
  	SELECT
  		 c.ID as id,
  		 BUSINESS_SHORT as businessShort,
  		 BUSINESS_ALL as businessAll,
  		 BUSINESS_DEPICT as businessDepict,
         BUSINESS_UNIT as businessUnit,
         OPERATOR as operator,
         CREATE_TIME as createTime,
         UPDATE_TIME as updateTime,
         REMARK as remark
    FROM OCS_BUSINESS_DICT_INFO c 
    WHERE c.ID=#{id}
  </select>
  
  <select id="findByPage" parameterType="Map" resultType="BusinessDict">
	  	SELECT
	  		 c.ID as id,
	  		 BUSINESS_SHORT as businessShort,
	  		 BUSINESS_ALL as businessAll,
	  		 BUSINESS_DEPICT as businessDepict,
	         BUSINESS_UNIT as businessUnit,
	         OPERATOR as operator,
	         CREATE_TIME as createTime,
	         UPDATE_TIME as updateTime,
	         REMARK as remark
	    FROM OCS_BUSINESS_DICT_INFO c 
	    	ORDER BY createTime DESC
	    	limit #{page.pageSize} offset #{page.offset}
  </select>
  
  <select id="findAll" resultType="BusinessDict">
	  	SELECT
	  		 c.ID as id,
	  		 BUSINESS_SHORT as businessShort,
	  		 BUSINESS_ALL as businessAll,
	  		 BUSINESS_DEPICT as businessDepict,
	         BUSINESS_UNIT as businessUnit,
	         OPERATOR as operator,
	         CREATE_TIME as createTime,
	         UPDATE_TIME as updateTime,
	         REMARK as remark
	    FROM OCS_BUSINESS_DICT_INFO c 
	    	ORDER BY createTime
  </select>
  
  <select id="findByCount" resultType="int">
  	SELECT COUNT(*) FROM OCS_BUSINESS_DICT_INFO c
  </select>
  
</mapper>
