<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrtimes.acm.persistence.CdrResourceMapper">

  <insert id="insert" parameterType="CdrResource">
  	INSERT INTO ocs_cdr_resources(
  		 NAME,
  		 PROTOCOL,
  		 HOST,
         PORT,
         USERNAME,
         PWD,
         SOURCEDIRECTORY,
         CACHEDDIRECTORY,
         ARCHIVEDIRECTORY,
         FILETYPE,
         APPKEY,
         BUSINESSID,
         FLAG,
         OPERATOR,
         CREATE_TIME,
         UPDATE_TIME,
         REMARK )
  	VALUES(
  		 #{name,jdbcType=VARCHAR},
  	     #{protocol,jdbcType=VARCHAR},
  		 #{host,jdbcType=VARCHAR},
  		 #{port,jdbcType=VARCHAR},
  		 #{userName,jdbcType=VARCHAR},
  		 #{pwd,jdbcType=VARCHAR},
  		 #{sourceDirectory,jdbcType=VARCHAR},
  		 #{cachedDirRectory,jdbcType=VARCHAR},
  		 #{archiveDirectory,jdbcType=VARCHAR},
  		 #{fileType,jdbcType=VARCHAR},
  		 #{appKey,jdbcType=VARCHAR},
  		 #{businessId,jdbcType=VARCHAR},
  		 #{flag,jdbcType=DECIMAL},
  		 #{operator,jdbcType=VARCHAR},
  		 #{createTime},
  		 #{updateTime},
         #{remark,jdbcType=VARCHAR}  )
  </insert> 
  
  <update id="updateStatus" parameterType="int">
  	UPDATE ocs_cdr_resources
  		SET
  			FLAG = #{flag,jdbcType=DECIMAL}
  		WHERE
			ID=#{id}
  </update>
  
  <update id="update" parameterType="CdrResource">
  	UPDATE ocs_cdr_resources
  		SET
            NAME = #{name,jdbcType=VARCHAR},
    		PROTOCOL = #{protocol,jdbcType=VARCHAR},
    		HOST = #{host,jdbcType=VARCHAR},
    		<if test="port != null">
	  	    	PORT = #{port,jdbcType=VARCHAR},
	  		</if>
    		<if test="userName != null">
	  	    	USERNAME = #{userName,jdbcType=VARCHAR},
	  		</if>
	  		<if test="pwd != null">
	  	    	PWD = #{pwd,jdbcType=VARCHAR},
	  		</if>
    		SOURCEDIRECTORY = #{sourceDirectory,jdbcType=VARCHAR},
    		CACHEDDIRECTORY = #{cachedDirRectory,jdbcType=VARCHAR},
    		ARCHIVEDIRECTORY = #{archiveDirectory,jdbcType=VARCHAR},
    		FILETYPE = #{fileType,jdbcType=VARCHAR},
	  		<if test="appKey != null">
	  			APPKEY = #{appKey,jdbcType=VARCHAR},
	  		</if>
	  		<if test="businessId != null">
	  			BUSINESSID = #{businessId},
	  		</if>
	  		FLAG = #{flag,jdbcType=DECIMAL},
    		OPERATOR = #{operator,jdbcType=VARCHAR},
    		UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
	  		<if test="remark != null">
	  			,REMARK = #{remark,jdbcType=VARCHAR}
	  		</if>	        
		WHERE
			ID=#{id}
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM ocs_cdr_resources WHERE ID=#{id}
  </delete>
  
  <select id="findByPage" parameterType="Map" resultType="CdrResource">
	  	SELECT
	  		 c.ID as id,
	  		 NAME as name,
	  		 PROTOCOL as protocol,
	  		 HOST as host,
	         PORT as port,
	         USERNAME as userName,
	         PWD as pwd,
	         SOURCEDIRECTORY as sourceDirectory,
	         CACHEDDIRECTORY as cachedDirRectory,
	         ARCHIVEDIRECTORY as archiveDirectory,
	         FILETYPE as fileType,
	         APPKEY as appKey,
	         BUSINESSID as businessId,
	         FLAG as flag,
	         OPERATOR as operator,
	         CREATE_TIME as createTime,
	         UPDATE_TIME as updateTime,
	         REMARK as remark
	    FROM ocs_cdr_resources c 
	    	WHERE 1 = 1
	    	ORDER BY createTime DESC 
	    	limit #{page.pageSize} offset #{page.offset}
  </select>
  
  <select id="findById" parameterType="int" resultType="CdrResource">
  	SELECT
  		 c.ID as id,
  		 NAME,
  		 PROTOCOL as protocol,
  		 HOST as host,
         PORT as port,
         USERNAME as userName,
         PWD as pwd,
         SOURCEDIRECTORY as sourceDirectory,
         CACHEDDIRECTORY as cachedDirRectory,
         ARCHIVEDIRECTORY as archiveDirectory,
         FILETYPE as fileType,
         APPKEY as appKey,
         BUSINESSID as businessId,
         FLAG as flag,
         OPERATOR as operator,
         CREATE_TIME as createTime,
         UPDATE_TIME as updateTime,
         REMARK as remark
    FROM ocs_cdr_resources c 
    WHERE c.ID=#{id}
  </select>
  
  <select id="findByCount" parameterType="Map" resultType="int">
	    SELECT
	         count(*)
	    FROM ocs_cdr_resources c 
  </select>

</mapper>
