<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrtimes.acm.persistence.DevAppMapper">

  <insert id="insert" parameterType="DevApp">
  	INSERT INTO OCS_DEV_APP_LIST(
  		 DEV_ID,
  		 APP_KEY,
  		 APP_NAME,
         APP_TYPE,
         DIVIDE_SCALE,
         APP_STATUS,
         CREATE_TIME,
         UPDATE_TIME,
         REMARK )
  	VALUES(
  		 #{devId,jdbcType=VARCHAR},
  	     #{appKey,jdbcType=VARCHAR},
  		 #{appName,jdbcType=VARCHAR},
  		 #{appType,jdbcType=DECIMAL},
  		 #{divideScale,jdbcType=DECIMAL},
  		 #{appStatus,jdbcType=DECIMAL},
  		 #{createTime},
  		 #{updateTime},
         #{remark,jdbcType=VARCHAR}  )
  </insert> 
  
  <update id="update" parameterType="DevApp">
  	UPDATE OCS_DEV_APP_LIST
  		SET
            USER_NAME = #{userName,jdbcType=VARCHAR},
    		USER_PASSWD = #{userPasswd,jdbcType=VARCHAR},
	  		<if test="userStatus != null">
	  	    USER_STATUS = #{userStatus,jdbcType=DECIMAL},
	  		</if>
	  		<if test="userRole != null">
	  		USER_ROLE = #{userRole,jdbcType=DECIMAL},
	  		</if>
	  		<if test="userCreateTime != null">
	  		USER_CREATETIME = #{userCreateTime},
	  		</if>
	  		<if test="remark != null">
	  		REMARK = #{remark,jdbcType=VARCHAR}
	  		</if>	        
		WHERE
			ID=#{id}
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM OCS_DEV_APP_LIST WHERE ID=#{id}
  </delete>
  
  <select id="findByPage-" parameterType="Map" resultType="DevApp">
	  	SELECT
	  		 c.ID as id,
	  		 DEV_ID as devId,
	  		 APP_KEY as appKey,
	  		 APP_NAME as appName,
	         APP_TYPE as appType,
	         DIVIDE_SCALE as divideScale,
	         APP_STATUS as appStatus,
	         CREATE_TIME as createTime,
	         UPDATE_TIME as updateTime,
	         REMARK as remark
	    FROM OCS_DEV_APP_LIST c 
	    	WHERE 1 = 1
	    	<if test="appName != null and appName !='' ">
	            and c.APP_NAME = #{appName} 
	        </if>
	        <if test="appType != null and appType !='' ">
	            and c.APP_TYPE = #{appType}
	        </if>
	        <if test="appStatus != null and appStatus !='' ">
	            and c.APP_STATUS=#{appStatus}
	        </if>
	    	ORDER BY createTime DESC 
	    	limit #{page.pageSize} offset #{page.offset}
  </select>
  
  <select id="findByPage" parameterType="Map" resultType="DevApp">
	  	SELECT
	  		 c.ID as id,
	  		 DEV_ID as devId,
	  		 APP_KEY as appKey,
	  		 APP_NAME as appName,
	         APP_TYPE as appType,
	         DIVIDE_SCALE as divideScale,
	         APP_STATUS as appStatus,
	         CREATE_TIME as createTime,
	         UPDATE_TIME as updateTime,
	         REMARK as remark,
	         RID as rid,
	         PACKAGE_NAME as pagName
	    FROM APP_RLN_VIEW c 
	    	WHERE 1 = 1
	    	<if test="appName != null and appName !='' ">
	            and c.APP_NAME = #{appName} 
	        </if>
	        <if test="appType != null and appType !='' ">
	            and c.APP_TYPE = #{appType}
	        </if>
	        <if test="appStatus != null and appStatus !='' ">
	            and c.APP_STATUS=#{appStatus}
	        </if>
	    	ORDER BY createTime DESC 
	    	limit #{page.pageSize} offset #{page.offset}
  </select>
  
  <select id="findById" parameterType="int" resultType="DevApp">
  	SELECT
  		 c.ID as id,
  		 DEV_ID as devId,
  		 APP_KEY as appKey,
  		 APP_NAME as appName,
         APP_TYPE as appType,
         DIVIDE_SCALE as divideScale,
         APP_STATUS as appStatus,
         CREATE_TIME as createTime,
         UPDATE_TIME as updateTime,
         REMARK as remark,
	     RID as rid,
	     PACKAGE_NAME as pagName
    FROM APP_RLN_VIEW c 
    WHERE c.ID=#{id}
  </select>
  
  <select id="findByCount" parameterType="Map" resultType="int">
	    SELECT
	         count(*)
	    FROM APP_RLN_VIEW c 
	    WHERE 1 = 1
	    <if test="appName != null and appName !='' ">
	            and c.APP_NAME = #{appName} 
        </if>
        <if test="appType != null and appType !='' ">
            and c.APP_TYPE = #{appType}
        </if>
        <if test="appStatus != null and appStatus !='' ">
            and c.APP_STATUS=#{appStatus}
        </if>
  </select>

</mapper>
